html { margin: 1em; font: 14px "Gill Sans", "Gill Sans MT", "DejaVu Sans", sans-serif; }
h1 { margin-bottom: 0.5em }
h1, h2, h3, h4, h5, h6 { font-family: 'Yanone Kaffeesatz', arial, serif; }
pre, code { font-family: courier, monospace; color:#888; font-size:0.9em; }
